# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Sai Jyothisma Pamidi\2020_Know_Your_Leader-master\2020_Know_Your_Leader-master\service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
